main{
    padding: 30px 100px 0 100px;
}
.form{
    display: grid;
    grid-template: 40px 40px/1fr 1fr;
    gap: 17px;
    margin: 2em 0 0 0;
}

.form-input{
    font-family: "karla",sans-serif;
    border-radius: 5px;
    border:1px solid black;
    text-indent: 5px;
}

.form-button{
    grid-column: 1/-1;
    font-family: "karla",sans-serif;
    border-radius: 5px;
    text-indent: 5px;
    background: gray;
    color:white;
    border: none;
    cursor: pointer;
}


