.NavBar-img{
    height:80px;
}

.nav-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 6px -6px black;
    padding: 1rem 1rem;
    background-color: whitesmoke;
    border-radius: 15px;
}

.nav-container .NavBar-text{
    color: darkgray;
    margin-right: 47%;
    font-weight: 200;
}
