.NavBar-img{
    height:80px;
}

.flex-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 6px -6px black;
    padding: 1rem 1rem;
}

.imageGallery{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*padding: 1rem ;*/

}

.imageGalleryMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.gallery-img{
    /*height:460px;
    width: 340px;*/
    width: 12em;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blank-space{
    visibility: hidden;
}